/* ----------------------------- HEADER STYLES ----------------------------- */
.header-div {
	height: 165px;
	width: 100%;
	position: relative;
}

.pest-header {
	position:absolute;
	bottom: 0px;
    left: 0px;
    font-size: 10px;
}

a.pest:link, a.pest:visited {
    background-color: #2397de;
    border-left: 1px solid #0e71b4;
    border-right: 1px solid #0e71b4;
    border-top: 1px solid #0e71b4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.pest:hover, a.pest:active {
    background-color: #666;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
}

.content-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    width: 100%;
    background-color: #08436b;
    font-size: 15px;
    color: white;
}

/* ----------------------------- CONTENT MENU ----------------------------- */
.content-menu {
    overflow: auto;
    width: 100%;
/*    border: 3px solid blue;*/
}

.logo {
    float: left;
    width: 10%;
/*    border: 3px solid orange;*/
}

.content-menu-buttons {
/*    border: 3px solid red;*/
    margin-left: 11%;
    margin-top: 10px;
}

.content-menu-teams {
/*    border: 3px dashed red;*/
    margin-left: 11%;
    margin-top: 10px;
    margin-bottom: 0%;
}

a.content-menu-button {
    background-color: #e2e2e2;
    box-shadow: 2px 2px 1px -1px #333;
    border-radius: 5px 5px 0px 0px;
    color: #555;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px 2px 2px;
    border-bottom: 4px solid #CCC;
}

a.content-menu-button:hover, a.content-menu-button:active {
    font-weight: bold;
    border-bottom: 4px solid #18B;
}

.team-button {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 4px 5px 2px 5px;
    background-color: #F0F0F0;
    margin: 0px 3px 0px 1px;
    border-bottom: 4px solid #CCC;
    box-shadow: 1px -2px 5px -1px #000;
    border-radius: 8px 8px 0px 0px;
}

.team-button:hover, .team-button:active {
    border-bottom: 4px solid #18B;
}

/* ------------------------------ CONTENT ---------------------------------- */
.content {
    border: 3px dashed red;
    margin-top: 1%;
    width: 100%;
} 